"""GraphQL Subscriptions - Real-time subscription resolvers."""

{% if (graphql_api_module == 'enabled' or 'graphql' in api_features) %}
from {{ package_name }}.graphql_api.subscriptions.user_subscriptions import UserSubscriptions


__all__ = [
    "UserSubscriptions",
]
{% endif %}
