{%- if docs_module == 'enabled' and docs_framework == 'docusaurus' -%}
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureEmoji {
  font-size: 3rem;
  margin-bottom: 1rem;
}
{%- endif -%}
