{% if (graphql_api_module == 'enabled' or 'graphql' in api_features) -%}
"""GraphQL Query Tests - Field selection and flexible querying."""

from {{ package_name }}.graphql_api.schema import schema


class TestUserQueries:
    def test_query_user_minimal_fields(self):
        query = """
            query {
                user(id: "1") {
                    id
                    name
                }
            }
        """
        result = schema.execute_sync(query)
        assert result.errors is None
        assert result.data["user"]["id"] == "1"

    def test_query_user_not_found(self):
        query = """
            query {
                user(id: "99999") {
                    id
                }
            }
        """
        result = schema.execute_sync(query)
        assert result.errors is None
        assert result.data["user"] is None
{% endif -%}
