{%- if docs_module == 'enabled' and docs_framework == 'fumadocs' and fumadocs_llms_txt == 'enabled' -%}
import { source } from '@/lib/source';
import type { InferPageType } from 'fumadocs-core/source';

export async function getLLMText(page: InferPageType<typeof source>) {
{%- if fumadocs_openapi == 'enabled' and api_module == 'enabled' and api_languages %}
  if (page.type === 'openapi') {
    return `# ${page.data.title} (${page.url})

${JSON.stringify(page.data.getSchema().bundled, null, 2)}`;
  }
{%- endif %}

  const processed = await page.data.getText('processed');

  return `# ${page.data.title} (${page.url})

${processed}`;
}
{%- endif -%}
