{%- if docs_module == 'enabled' and docs_framework == 'fumadocs' and (fumadocs_sidebar == 'shadcn' or fumadocs_theme == 'shadcn') -%}
import { clsx, type ClassValue } from 'clsx';
import { twMerge } from 'tailwind-merge';

export function cn(...inputs: ClassValue[]) {
  return twMerge(clsx(inputs));
}
{%- endif -%}