{# CI working-directory helpers for project layout variants #}
{% macro python_working_directory(project_layout) -%}
{%- if project_layout == 'monorepo' -%}
.
{%- else -%}
.
{%- endif -%}
{%- endmacro %}

{% macro node_working_directory(project_layout) -%}
.
{%- endmacro %}
