"""GraphQL Types - Domain entities and input types."""

{% if graphql_api_module == 'enabled' %}
from {{ package_name }}.graphql_api.types.user import (
    User,
    UserEdge,
    UserConnection,
    CreateUserInput,
    UpdateUserInput,
)
from {{ package_name }}.graphql_api.types.post import (
    Post,
    PostEdge,
    PostConnection,
)


__all__ = [
    "User",
    "UserEdge",
    "UserConnection",
    "CreateUserInput",
    "UpdateUserInput",
    "Post",
    "PostEdge",
    "PostConnection",
]
{% endif %}
