{% if saas_infra_module == "enabled" and saas_auth_module == "enabled" and saas_auth_provider == "authjs" %}
export {
  auth,
  handlers,
  signIn,
  signOut,
  authConfig,
  getCurrentSession,
  requireAuth,
} from '@/integrations/auth/authjs/auth.config';
{% endif %}
