{% if desktop_module == "enabled" and desktop_framework == "tauri" %}
{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always"
}
{% endif %}
