{%- if docs_site == 'docusaurus' and docusaurus_i18n == 'enabled' -%}
{
  "theme.docs.sidebar.collapseButtonTitle": {
    "message": "Collapse sidebar",
    "description": "The title attribute for collapse button of doc sidebar"
  },
  "theme.docs.sidebar.expandButtonTitle": {
    "message": "Expand sidebar",
    "description": "The title attribute for expand button of doc sidebar"
  },
  "theme.ErrorPageContent.title": {
    "message": "This page crashed.",
    "description": "The title of the fallback page when the page crashed"
  },
  "theme.NotFound.title": {
    "message": "Page Not Found",
    "description": "The title of the 404 page"
  },
  "theme.NotFound.p1": {
    "message": "We could not find what you were looking for.",
    "description": "The first paragraph of the 404 page"
  },
  "theme.NotFound.p2": {
    "message": "Please contact the owner of the site that linked you to the original URL and let them know their link is broken.",
    "description": "The 2nd paragraph of the 404 page"
  }
}
{%- endif -%}
