{% if frontend_framework == 'vue' and vue_framework == 'vite' %}
{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"]
}
{% endif %}
