"""GraphQL Queries - Query resolvers for read operations."""

{% if graphql_api_module == 'enabled' %}
from {{ package_name }}.graphql_api.queries.user_queries import UserQueries


__all__ = [
    "UserQueries",
]
{% endif %}
