{%- if docs_site == 'fumadocs' -%}
{
  "title": "Modules",
  "pages": [
{%- if cli_module == 'enabled' %}
    "cli",
{%- endif %}
{%- if api_tracks in ['python', 'python+node'] %}
    "api-python",
{%- endif %}
{%- if api_tracks in ['node', 'python+node'] %}
    "api-node",
{%- endif %}
{%- if graphql_api_module == 'enabled' %}
    "graphql",
{%- endif %}
{%- if websocket_module == 'enabled' %}
    "websockets",
{%- endif %}
{%- if mcp_module == 'enabled' %}
    "mcp",
{%- endif %}
    "index"
  ]
}
{%- endif -%}
