{%- if docs_module == 'enabled' and docs_framework == 'fumadocs' -%}
{
  "title": "Modules",
  "pages": [
{%- if cli_module == 'enabled' %}
    "cli",
{%- endif %}
{%- if api_module == 'enabled' and 'python' in api_languages %}
    "api-python",
{%- endif %}
{%- if api_module == 'enabled' and 'node' in api_languages %}
    "api-node",
{%- endif %}
{%- if graphql_api_module == 'enabled' %}
    "graphql",
{%- endif %}
{%- if websocket_module == 'enabled' %}
    "websockets",
{%- endif %}
{%- if mcp_module == 'enabled' %}
    "mcp",
{%- endif %}
    "index"
  ]
}
{%- endif -%}
