{% if saas_infra_module == "enabled" and saas_ui_framework == "shadcn-ui" %}
import { clsx, type ClassValue } from 'clsx';
import { twMerge } from 'tailwind-merge';

export function cn(...inputs: ClassValue[]) {
  return twMerge(clsx(inputs));
}
{% endif %}