{% if saas_infra_module == "enabled" and saas_multi_tenancy_level == 'enterprise' %}
import { requireUserId, requireAdminRole } from '@/lib/auth/helpers';
import TenantsClient from './client';

export default async function TenantsPage() {
  await requireUserId();
  await requireAdminRole();
  return <TenantsClient />;
}
{% endif %}
