"""GraphQL API Module - Strawberry-based GraphQL service."""

{% if graphql_api_module == 'enabled' %}
from {{ package_name }}.graphql_api.schema import schema
from {{ package_name }}.graphql_api.context import GraphQLContext, get_graphql_context
from {{ package_name }}.graphql_api.errors import (
    GraphQLError,
    ValidationError,
    AuthError,
    SystemError,
    QueryError,
)


__all__ = [
    "schema",
    "GraphQLContext",
    "get_graphql_context",
    "GraphQLError",
    "ValidationError",
    "AuthError",
    "SystemError",
    "QueryError",
]
{% endif %}
