{%- if docs_module == 'enabled' and docs_framework == 'fumadocs' -%}
@import 'tailwindcss';
@import 'fumadocs-ui/css/{% if fumadocs_theme == 'ocean' %}ocean{% elif fumadocs_theme == 'purple' %}purple{% else %}neutral{% endif %}.css';
{%- if fumadocs_openapi == 'enabled' and api_module == 'enabled' and api_languages %}
@import 'fumadocs-openapi/css/index.css';
{%- endif %}

{%- if fumadocs_theme == 'custom' %}

:root {
  /* Customize your theme colors */
  /* --fd-background: 0 0% 96%; */
  /* --fd-foreground: 0 0% 3.9%; */
  /* --fd-primary: 220 70% 50%; */
  /* --fd-primary-foreground: 0 0% 98%; */
}

.dark {
  /* Dark mode overrides */
  /* --fd-background: 0 0% 7%; */
  /* --fd-foreground: 0 0% 98%; */
}
{%- endif %}
{%- endif -%}
