{%- if docs_module == 'enabled' and docs_framework == 'docusaurus' and docusaurus_changelog == 'enabled' -%}
---
sidebar_position: 100
title: Changelog
description: Release history and version changes
---

# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

## [Unreleased]

### Added
- Initial documentation site

### Changed
- Nothing yet

### Deprecated
- Nothing yet

### Removed
- Nothing yet

### Fixed
- Nothing yet

### Security
- Nothing yet

---

:::tip Automatic Updates
Consider using tools like [semantic-release](https://semantic-release.gitbook.io/) 
or [release-please](https://github.com/googleapis/release-please) to automate
changelog generation from conventional commits.
:::

[unreleased]: https://github.com/{{ project_slug }}/{{ project_slug }}/compare/v0.1.0...HEAD
{%- endif -%}
