[MASTER]
ignore = .venv,build,dist,node_modules
load-plugins = pylint.extensions.docparams,pylint.extensions.mccabe

[MESSAGES CONTROL]
disable =
    missing-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-arguments

[FORMAT]
max-line-length = 100

[DESIGN]
max-args = 6
max-attributes = 10
max-branches = 12
max-nested-blocks = 5

[TYPECHECK]
ignored-modules = {{ package_name }}
ignored-classes = typing.NamedTuple

[REPORTS]
output-format = colorized
score = no

[SIMILARITIES]
ignore-comments = yes
ignore-docstrings = yes
ignore-imports = yes
min-similarity-lines = 4
