API Reference
=============

.. automodule:: {{ package_name }}
   :members:
   :undoc-members:
   :show-inheritance:

{% if api_tracks in ['python', 'python+node'] %}
API Modules
-----------

.. automodule:: {{ package_name }}.api
   :members:
   :undoc-members:
   :show-inheritance:

.. automodule:: {{ package_name }}.api.routes
   :members:
   :undoc-members:
   :show-inheritance:
{% endif %}

{% if cli_module == 'enabled' %}
CLI Modules
-----------

.. automodule:: {{ package_name }}.cli
   :members:
   :undoc-members:
   :show-inheritance:

.. automodule:: {{ package_name }}.cli.commands
   :members:
   :undoc-members:
   :show-inheritance:
{% endif %}
