{%- if docs_site == 'docusaurus' -%}
# https://www.robotstxt.org/robotstxt.html
User-agent: *
Allow: /

{%- if docusaurus_sitemap == 'enabled' %}
Sitemap: https://{{ project_slug }}.github.io/sitemap.xml
{%- endif %}
{%- endif -%}
