{
  "recommendations": [
    "tamasfe.even-better-toml",
    "charliermarsh.ruff",
    "ms-python.python",
    "ms-python.vscode-pylance"
    {%- if 'rust' in cli_languages or 'rust' in api_languages or 'rust' in mcp_languages -%},
    "rust-lang.rust-analyzer",
    "vadimcn.vscode-lldb"
    {%- endif -%}
    {%- if (api_module == 'enabled' and 'node' in api_languages) or (docs_module == 'enabled' and docs_framework in ['fumadocs', 'docusaurus']) -%},
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode"
    {%- endif -%}
  ]
}
