[mypy]
python_version = 3.11
warn_unused_configs = True
ignore_missing_imports = False
strict_optional = True
warn_redundant_casts = True
warn_unused_ignores = True
warn_return_any = False
disallow_untyped_defs = False
disallow_incomplete_defs = False
disable_error_code = attr-defined

[mypy-tests.*]
ignore_missing_imports = True
allow_untyped_defs = True
allow_untyped_calls = True
