{% if frontend_framework == 'react' and react_framework == 'vite' %}
{
  "recommendations": [
    "dbaeumer.vscode-eslint",
    "esbenp.prettier-vscode",
    "bradlc.vscode-tailwindcss"
  ]
}
{% endif %}
